params {

    // Models options
    prevalence     = 0.2
    attributeAlleleFrequency     = 0.2
    //useOddsRatio   = 
    proportion = 0.2

}



process {

    withName: GAMETES_GENERATEMODELS {
        ext.args = [
            "-p ${params.prevalence}",
            "-a ${params.attributeAlleleFrequency}",
            "-d ${params.useOddsRatio}",
            "-f ${params.proportion}"
        ].join(' ').trim()

    }
}

