params {

    // Models options
    heritability = 0.3
    prevalence = 0.6
    attributeAlleleFrequency = 0.2
    proportion = 0.2
    useOddsRatio = ""
    populationCount = 10
    tryCount = 1000
    randomSeed = 123
    quantileCount = 1


}



process {

    withName: GAMETES_GENERATEMODELS {
        ext.args2 = [
            "-q ${params.quantileCount}",
            "-p ${params.populationCount}",
            "-t ${params.tryCount}",
            "-r ${params.randomSeed}"
        ].join(' ').trim()


        ext.args = [
            "-h ${params.heritability}",
            "-p ${params.prevalence}",
            "-a ${params.attributeAlleleFrequency}",
            "-f ${params.proportion}",
            "-d ${params.useOddsRatio}"
        ].join(' ').trim()

    }
}

